body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #0c1016;
  color: #ffffff;
  font-family: "Euclid Circular A";
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 8px;
  padding: 32px;
}

.cards:hover .card {
  background: radial-gradient(
    800px circle at var(--xPos) var(--yPos),
    rgba(0, 255, 241, 0.4),
    transparent 15%
  );
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    400px circle at 0 0,
    rgba(0, 255, 241, 0),
    transparent 0%
  );
  border-radius: 8px;
  transition: 0.15s;
}

.cards .card:hover::before {
  opacity: 1;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: radial-gradient(
    500px circle at var(--xPos) var(--yPos),
    rgba(0, 255, 241, 0.1),
    transparent 35%
  );
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #13161c;
  border-radius: inherit;
  transition: all 0.25s;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
}

.card :is(i, h2) {
  opacity: 0.45;
  transition: 0.3s;
}

.card:hover :is(i, h2) {
  opacity: 1;
}

.card i {
  font-size: 38px;
}

.card h2 {
  margin: 0;
  font-weight: 400;
  font-size: 19px;
}
